.slb_dataCaption { font-weight: bold;}
.slb_dataNumber { display: block; clear: left; }			
#slb_nav { display: block; clear: left; padding:0 0 10px 0;}	
.slb_navPrev { margin:0 8px 0 0; }		
.slb_navNext { margin:0 8px 0 0; }		
.slb_slbClose {
	display:block;
	margin:0;
	padding:0 0 10px 0;
	text-decoration:none;
	float:right;
	width:66px;
	height:28px;
	background:url("../images/closelabel_black.gif") no-repeat;
	text-indent:-9999px;
	overflow:hidden;
}

#slb_lightbox {
	position: absolute;
	top: 20px;
	left: 0;
	width: 100%;
	z-index: 3100;
	text-align: center;
	line-height: 0;
	color:#fff;
}

#slb_lightbox a, #slb_lightbox a:hover {
	border-bottom:none;
	color:#fff;
	text-decoration:underline;
}

#slb_lightbox a img { border: none; }

#slb_container {
	position: relative;
	background-color: #000;
	width: 250px;
	height: 250px;
	margin: 0 auto;
}

#imageContainer {
	padding: 10px;
}

#loading {
	position: absolute;
	top: 40%;
	left: 0%;
	height: 25%;
	width: 100%;
	text-align: center;
	line-height: 0;
}
#slb_slbLoading {
	display:block;
	margin:0 auto;
	padding:0;
	width:32px;
	height:32px;
	background:url("../images/loading_black.gif") center center no-repeat;
	text-indent:-9999px;
}

#nav_hover {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	left: 0;
}
	
#nav_hover a { outline: none; }

#nav_hover .slb_nav {
	width: 47%;
	height: 98%;
	background: transparent url("../images/blank.gif") no-repeat; /* Trick IE into showing hover */
	display: block;
	text-indent: -9999px;
}

#nav_hover .slb_navPrev { left: 0; float: left;}
#nav_hover .slb_navNext { right: 0; float: right;}
#nav_hover .slb_navPrev:hover, #nav_hover .slb_navPrev:visited:hover { background: url("../images/prevlabel_black.gif") left 15% no-repeat; }
#nav_hover .slb_navNext:hover, #nav_hover .slb_navNext:visited:hover { background: url("../images/nextlabel_black.gif") right 15% no-repeat; }

#slb_details {
	font: 10px Verdana, Helvetica, sans-serif;
	background-color: #000;
	margin: 0 auto;
	line-height: 1.4em;
}

#imageData {
	padding:0 10px;
}
#imageDetails { width: 70%; float: left; text-align: left; }	

#slb_overlay {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 3090;
	width: 100%;
	height: 500px;
	background-color: #151410;
	filter:alpha(opacity=60);
	-moz-opacity: 0.6;
	opacity: 0.6;
}
	

.clearfix:after {
	content: "."; 
	display: block; 
	height: 0; 
	clear: both; 
	visibility: hidden;
}

* html>body .clearfix {
	display: inline-block; 
	width: 100%;
}

* html .clearfix {
	/* Hides from IE-mac \*/
	height: 1%;
	/* End hide from IE-mac */
}	
	