@import url('lightbox.css');

/* General */

#slb_lightbox {
	color:#fff;
}

#slb_lightbox a, 
#slb_lightbox a:hover {
	color:#fff;
}

#slb_container {
	background-color: #000;
}

#slb_slbLoading {
	background-image: url("../images/loading_black.gif");
}

/* Navigation */

#slb_nav_hover .slb_navPrev:hover,
#slb_nav_hover .slb_navPrev:visited:hover {
	background-image: url("../images/prevlabel_black.gif");
}

#slb_nav_hover .slb_navNext:hover,
#slb_nav_hover .slb_navNext:visited:hover {
	background-image: url("../images/nextlabel_black.gif");
}

#slb_close .slb_slbClose {
	background-image: url("../images/closelabel_black.gif");
}

/* Content */

#slb_details {
	background-color: #000;
}
	