/* line 1, ../sass/admin.scss */
.slb_section_head {
  display: block;
  padding: 2em 0 0;
}

/* line 7, ../sass/admin.scss */
.slb_option_item .block {
  display: inline-block;
}
/* line 11, ../sass/admin.scss */
.slb_option_item label.title {
  width: 200px;
  padding: 10px;
}
/* line 16, ../sass/admin.scss */
.slb_option_item .input {
  font-size: 11px;
  line-height: 20px;
  margin-bottom: 9px;
  padding: 8px 10px;
}
/* line 23, ../sass/admin.scss */
.slb_option_item .input select {
  min-width: 12em;
}

/* line 28, ../sass/admin.scss */
.slb_notice {
  color: #f00;
  font-weight: bold;
}

/* line 34, ../sass/admin.scss */
.slb .columns-2 {
  margin-right: 300px;
}
/* line 36, ../sass/admin.scss */
.slb .columns-2 .postbox-container {
  float: left;
  width: 100%;
}
/* line 40, ../sass/admin.scss */
.slb .columns-2 .content-secondary {
  margin-right: -300px;
  width: 280px;
  float: right;
}
