.slb_section_head {
	display: block;
	padding: 2em 0 0;
}

.slb_option_item {
	.block {
		display: inline-block;
	}

	label.title {
		width: 200px;
		padding: 10px;
	}

	.input {
		font-size: 11px;
		line-height: 20px;
		margin-bottom: 9px;
		padding: 8px 10px;
	}

	.input select {
		min-width: 12em;
	}
}

.slb_notice {
	color: #f00;
	font-weight: bold;
}

.slb {
	.columns-2 {
		margin-right: 300px;
		.postbox-container {
			float: left;
			width: 100%;
		}
		.content-secondary {
			margin-right: -300px;
			width: 280px;
			float: right;
		}
	}
}

.slb_admin_action_reset {
	color: #a00;
	&:hover {
		color: #dc3232;
		border: none;
	}
}