@import url("//fonts.googleapis.com/css?family=Yanone+Kaffeesatz");
/* line 18, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  text-align: center;
  line-height: 0;
  color: #000;
  font-family: arial, verdana, sans-serif;
  font-size: 12px;
  /* Reset */
  /* General */
  /* UI */
  /* Navigation */
  /* Content */
  /* Title */
  /* Single */
  /* Loading */
}
/* line 33, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default * {
  margin: 0;
  padding: 0;
  line-height: 1.4em;
  text-align: left;
  vertical-align: baseline;
  white-space: normal;
  outline: none;
  border: 0px;
  background: none;
  opacity: 1;
  width: auto;
  height: auto;
  position: static;
  float: none;
  clear: none;
}
/* line 53, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default a,
#slb_viewer_wrap .slb_theme_slb_default a:hover {
  border-bottom: none;
  color: #000;
  text-decoration: underline;
}
/* line 59, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default a img {
  border: none;
}
/* line 63, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_viewer_layout {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  z-index: 2;
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: center;
}
/* line 72, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_viewer_overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  min-height: 105%;
  min-width: 100%;
  background-color: #151410;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 83, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_container {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 0 64px -40px #fcfcfc;
  -moz-box-shadow: 0 0 64px -40px #fcfcfc;
  box-shadow: 0 0 64px -40px #fcfcfc;
  position: relative;
  display: inline-block;
  background-color: #fff;
  margin: 0 auto;
  border-radius: 5px;
  padding: 16px;
}
/* line 94, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_loading {
  background: url("../images/loading.gif") center center no-repeat;
  position: absolute;
  left: 0%;
  top: 0;
  width: 100%;
  height: 100%;
  min-width: 31px;
  min-height: 31px;
  text-align: center;
  text-indent: -2000em;
  line-height: 0;
  display: none;
}
/* line 109, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_template_tag_ui {
  cursor: pointer;
  transition: opacity .5s;
}
/* line 115, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_controls {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 75%;
  text-align: right;
}
/* line 122, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_controls .slb_template_tag_ui {
  width: 25px;
  height: 25px;
  float: right;
  margin-left: 2px;
  text-indent: -2000em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 131, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_controls .slb_template_tag_ui:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
}
/* line 135, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_controls .slb_slideshow .slb_template_tag {
  background: url("../images/ui_slideshow_play.png") 0 0 no-repeat;
}
/* line 139, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_controls .slb_close .slb_template_tag {
  background: url("../images/ui_close.png") 0 0 no-repeat;
}
/* line 144, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default.slideshow_active .slb_controls .slb_slideshow .slb_template_tag {
  background: url("../images/ui_slideshow_pause.png") 0 0 no-repeat;
}
/* line 150, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_prev .slb_template_tag, #slb_viewer_wrap .slb_theme_slb_default .slb_next .slb_template_tag {
  position: absolute;
  top: 20%;
  height: 71%;
  width: 45%;
  margin-left: 4px;
  background-repeat: no-repeat;
  text-indent: -2000em;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
}
/* line 161, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_prev .slb_template_tag {
  background-image: url("../images/nav_prev.png");
  background-position: left 45%;
}
/* line 166, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_next .slb_template_tag {
  right: 4px;
  background-image: url("../images/nav_next.png");
  background-position: right 45%;
}
/* line 175, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_prev .slb_template_tag:hover, #slb_viewer_wrap .slb_theme_slb_default .slb_next .slb_template_tag:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 180, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_content {
  min-width: 200px;
  min-height: 200px;
  position: relative;
}
/* line 185, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_details {
  margin: 0 auto;
  line-height: 1.4em;
  text-align: left;
  overflow: hidden;
  position: relative;
}
/* line 191, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_details .inner {
  display: table;
  width: 100%;
}
/* line 195, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_details .slb_data {
  display: table-caption;
  caption-side: bottom;
}
/* line 201, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_template_tag_item_content * {
  width: 100%;
  height: 100%;
}
/* line 209, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_data_title, #slb_viewer_wrap .slb_theme_slb_default .slb_group_status {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 23px;
}
/* line 214, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_group_status {
  color: #777;
  font-style: italic;
  font-size: 18.4px;
}
/* line 221, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default .slb_data_desc {
  display: block;
  margin-top: 0.5em;
}
/* line 230, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default.item_single .slb_group_status,
#slb_viewer_wrap .slb_theme_slb_default.item_single .slb_nav,
#slb_viewer_wrap .slb_theme_slb_default.item_single .slb_slideshow {
  display: none;
}
/* line 236, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default.loading .slb_loading {
  display: block;
}
/* line 244, ../sass/style.scss */
#slb_viewer_wrap .slb_theme_slb_default.loading .slb_template_tag_ui {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
@media screen and (max-width: 480px) {
  /* line 18, ../sass/style.scss */
  #slb_viewer_wrap .slb_theme_slb_default {
    min-height: 100%;
    min-width: 320px;
    width: 100%;
  }
  /* line 259, ../sass/style.scss */
  #slb_viewer_wrap .slb_theme_slb_default .slb_viewer_layout {
    min-height: 100%;
    min-width: 320px;
    width: 100%;
    display: block;
  }
  /* line 263, ../sass/style.scss */
  #slb_viewer_wrap .slb_theme_slb_default .slb_container {
    min-height: 100%;
    min-width: 320px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    max-width: 100%;
    border-radius: 0;
    margin: 0;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
  }
  /* line 275, ../sass/style.scss */
  #slb_viewer_wrap .slb_theme_slb_default .slb_container .slb_content img, #slb_viewer_wrap .slb_theme_slb_default .slb_container .slb_content iframe, #slb_viewer_wrap .slb_theme_slb_default .slb_container .slb_content object, #slb_viewer_wrap .slb_theme_slb_default .slb_container .slb_content .slb_inner {
    max-width: 100%;
  }
  /* line 278, ../sass/style.scss */
  #slb_viewer_wrap .slb_theme_slb_default .slb_container .slb_content img {
    height: auto;
  }
  /* line 283, ../sass/style.scss */
  #slb_viewer_wrap .slb_theme_slb_default .slb_controls {
    top: 3px;
    right: 3px;
  }
  /* line 288, ../sass/style.scss */
  #slb_viewer_wrap .slb_theme_slb_default .slb_prev .slb_template_tag, #slb_viewer_wrap .slb_theme_slb_default .slb_next .slb_template_tag {
    top: 17%;
    height: 79%;
  }
}
