#slb_viewer_wrap {
	.slb_theme_slb_black {
		
		a,
		a:hover {
			color: #fff;
		}
		
		.slb_loading {
			background-image: url('../images/loading.gif');
		}
		
		.slb_container {
			background-color: #151515;
		}
		
		.slb_prev a {
			background-image: url('../images/nav_prev.png');
		}
		
		.slb_next a {
			background-image: url('../images/nav_next.png');
		}
		
		.slb_data_title {
			color: #e3e3e3;
		}
		
		.slb_data_desc {
			color: #cecece;
		}
		
		.slb_group_status {
			color: #999;
		}
	}
}