@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz);

/* Reset */
#slb_viewer_wrap .slb_theme_slb_default * {
	margin: 0;
	padding: 0;
	line-height: 1.4em;
	text-align: left;
	vertical-align: baseline;
	white-space: normal;
	outline: none;
	border: 0px;
	background: none;
	opacity: 1;
	width: auto;
	height: auto;
	position: static;
	float: none;
	clear: none;
}

/* General */

#slb_viewer_wrap .slb_theme_slb_default {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99999;
	text-align: center;
	line-height: 0;
	color:#000;
}

#slb_viewer_wrap .slb_theme_slb_default a,
#slb_viewer_wrap .slb_theme_slb_default a:hover {
	border-bottom:none;
	color:#000;
	text-decoration:underline;
}

#slb_viewer_wrap .slb_theme_slb_default a img {
	border: none;
}

#slb_viewer_wrap .slb_theme_slb_default .slb_viewer_layout {
	z-index: 2;
	position: absolute;
	top: 20px; 
	width: 100%;
	text-align: center;
}

#slb_viewer_wrap .slb_theme_slb_default .slb_viewer_overlay {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	min-width: 100%;
	min-height: 100%;
	background-color: #151410;
	opacity: 0.8;
}

#slb_viewer_wrap .slb_theme_slb_default .slb_container {
	position: relative;
	display: inline-block;
	background-color: #fff;
	min-width: 75px;
	min-height: 75px;
	margin: 0 auto;
	border-radius: 5px;
	padding: 16px;
}

#slb_viewer_wrap .slb_theme_slb_default .slb_loading {
	background: url('images/loading.gif') center center no-repeat;
	position: absolute;
	left: 0%;
	top: 0;
	width: 100%;
	height: 100%;
	min-width: 31px;
	min-height: 31px;
	text-align: center;
	text-indent: -2000em;
	line-height: 0;
	display: none;
}

/* UI */

#slb_viewer_wrap .slb_theme_slb_default.item_single .slb_details {
	padding-bottom: 3em;
}

#slb_viewer_wrap .slb_theme_slb_default.item_single .slb_group_status,
#slb_viewer_wrap .slb_theme_slb_default.item_single .slb_nav {
	display: none;
}

#slb_viewer_wrap .slb_theme_slb_default .slb_controls {
	position: absolute;
	top: 8px;
	right: 8px;
	border: 1px solid red;
	width: 75%;
	text-align: right;
}

#slb_viewer_wrap .slb_theme_slb_default .slb_controls a {
	width: 25px;
	height: 25px;
	border: 1px solid red;
	float: right;
	margin-left: 2px;
	text-indent: -2000em;
}

#slb_viewer_wrap .slb_theme_slb_default .slb_controls .slb_slideshow a {
	background: url('images/ui_slideshow_play.png') 0 0 no-repeat;
}

#slb_viewer_wrap .slb_theme_slb_default .slb_controls .slb_close a {
	background: url('images/ui_close.png') 0 0 no-repeat;
}

/* Navigation */

#slb_viewer_wrap .slb_theme_slb_default .slb_prev a,
#slb_viewer_wrap .slb_theme_slb_default .slb_next a {
	border: 1px solid red;
	position: absolute;
	top: 11%;
	margin-left: 4px;
	width: 80px;
	height: 85%;
	background-repeat: no-repeat;
}

#slb_viewer_wrap .slb_theme_slb_default .slb_prev a {
	background-image: url('images/nav_prev.png');
	background-position: left 45%;
}

#slb_viewer_wrap .slb_theme_slb_default .slb_next a {
	right: 4px;
	background-image: url('images/nav_next.png');
	background-position: right 45%;
}

#slb_viewer_wrap .slb_theme_slb_default .slb_nav a {
	text-indent: -2000em;
}


/* Content */

#slb_viewer_wrap .slb_theme_slb_default .slb_content {
	position: relative;
}

#slb_viewer_wrap .slb_theme_slb_default .slb_details {
	margin: 0 auto;
	line-height: 1.4em;
	text-align: left;
	overflow: hidden;
	position: relative;
}

#slb_viewer_wrap .slb_theme_slb_default .slb_template_tag_item_content * {
	width: 100%;
	height: 100%;
}

	/* Title */
#slb_viewer_wrap .slb_theme_slb_default .slb_data_title {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-size: 23px;
}

/* States */

	/* Loading */
	
#slb_viewer_wrap .slb_theme_slb_default.loading .slb_loading {
	display: block;
}

#slb_viewer_wrap .slb_theme_slb_default.loading .slb_details,
#slb_viewer_wrap .slb_theme_slb_default.loading .slb_template_tag {
	display: none;
}
S